body{
    color: white;
    background-color: 1C1C1C;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: aqua;
}

li{
    font-size: 20px;
}

li{
    margin-bottom: 16px;
}